
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.go-top-btn {
  display: none;
  position: fixed;
  bottom: 25%;
  right: 20px;
}

.go-top-btn[data-visible="true"] {
  display: block;
}

/* --------- MOBILE HEADER ---------- */

.desktop-header {
  display: none;
}

.mobile-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--l11);
  transition: 300ms;
}

.mobile-header[data-visible="false"] {
  transform: translateY(-100%);
}

.mobile-header[data-visible="true"] {
  transform: translateY(0%);
}

.navigation {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-inline: 1em;
}

.mobile-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburger-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}

.hamburger-btn:hover .hamburger-line,
.hamburger-btn:focus .hamburger-line {
  background: var(--light);
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger-line {
  display: block;
  width: 17px;
  height: 2px;
  background-color: var(--color);
  transition: 300ms;
}

.hamburger-btn[data-closed-icon="true"] {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;

  .hamburger {
    justify-content: center;
    align-items: center;
  }

  .ham-line2 {
    opacity: 0;
  }

  .ham-line1 {
    margin-left: 7px;
    transform: rotateZ(50deg);
    transform-origin: 0 0;
    width: 19px;
  }

  .ham-line3 {
    margin-left: 7px;
    transform: rotateZ(-50deg);
    transform-origin: 0 3px;
    width: 19px;
  }
}

.desktop-menu {
  display: none;
}

/* body[data-modal-closed="true"] {
  overflow-y: auto;
  
  .modal {
    background-color: hsl(0 0% 0% / 0);
    left: -100%;
  }

  .mobile-menu {
    transform: translateX(-100%);
  }
} */

.modal {
  position: fixed;
  left: -100%;
  z-index: 2000;
  background-color: hsl(0 0% 0% / 0);
  transition: background-color 500ms;
}

.modal[data-visible="true"] {
  background-color: hsl(0 0% 0% / .5);
  inset: 0;
  top: 7.5em;
}

.modal[data-visible="false"] {
  background-color: hsl(0 0% 0% / 0);
  left: -100%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  width: min(100%, 35em);
  position: fixed;
  top: 7.5em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  /* padding: 1em; */
  background-color: var(--menu);
  transition: transform 300ms;

  a {
    color: black;
  }
}

.mobile-menu[data-visible="false"] {
  transform: translateX(-100%);
}

body:has(.modal[data-visible="true"]) {
  overflow-y: hidden;
}

.products-categories-list {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em;
  position: relative;
  background-color: rgb(37, 32, 26);
  transform: 300ms;
}

.product-category {
  cursor: pointer;

  .product-subcategory-list {
    display: none;
  }

  .back-menu-btn {
    display: none;
  }
}

.product-category[data-opened="true"] {
  position: absolute;
  inset: 15px;
  background-color: rgb(37, 32, 26);

  .product-subcategory-list,
  .back-menu-btn {
    display: block;
  }
}

.logo {
  color: var(--color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 2.25rem);
  font-weight: 800;
}

.account-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header-btns {
  display: flex;
  justify-content: center;
  gap: clamp(8px, .5vw, 5em);
}

.header-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--color);
  font-weight: 700;
  text-decoration: none;
  transition: 300ms;
}

.header-btn:hover,
.header-btn:focus {
  color: var(--light)
}

.header-btn-icon {
  font-size: 1.3rem;
}

.search-wrapper {
  width: min(100%, 40em);
}

.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid var(--l30);
  border-radius: .6em;
  transition: border 300ms;
}

.search-form:hover {
  border: 2px solid var(--l90);
}

.search-form:focus-within {
  border: 2px solid var(--l90);
}

.search-input {
  width: 100%;
  max-width: 30em;
  height: 100%;
  padding: .5em;
  border-radius: .5em;
  outline: none;
  font-size: 1.15rem;
}

.search-input:hover,
.search-input:focus {
  outline: none;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: .5em;
  outline: none;
  background: none;
  color: var(--color);
  transition: 300ms;
}

.search-btn:hover {
  color: var(--light);
}

.search-btn:focus {
  --color: hsl(146, 100%, 45%);
  color: var(--light);
  background-color: var(--color);
}


/* ---------------- MAIN ----------------- */

.title {
  max-width: 20em;
  margin-inline: auto;
  margin-top: 9rem;
  margin-bottom: 1.5em;
  padding-inline: 1em;
  color: var(--light);
  font-size: clamp(1rem, 1.5rem + 2vw, 5rem);
}

.new-deals-section {
  height: clamp(30em, 50vw, 50em);
}

.controllers-wrapper {
  position: relative;
  top: 50%;
  z-index: 1;
}

.controller {
  position: absolute;
  border: none;
  border-radius: 50%;
  font-size: 1.75rem;
  opacity: .8;
  transition: opacity 300ms;
}
.controller:hover,
.controller:focus {
  opacity: 1;
}

.left-controller {
  left: 15px;
}
.right-controller {
  right: 15px;
}

.deals-list {
  display: flex;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.deal-item {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.deal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-active="true"] {
  opacity: 1;
}

.deal-text {
  max-width: 20em;
  position: absolute;
  top: 3em;
  left: 1em;
  color: var(--light);
  font-size: clamp(1.25em, 3vw, 5em);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.deal-text::after {
  content: "|";
  animation: blink 1s infinite step-end;
}

@keyframes blink {
  50% { opacity: 0 }
}

/* -------------------------------------- */




.not-found {
  color: var(--color);
}

.greeting {
  color: var(--color);
}

.footer {
  margin-top: clamp(5em, 7.5vw, 10em);
  background-color: var(--l5);
  color: var(--color);
  transition: 300ms;
}

.newsletter-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30em), 1fr));
  gap: 3em;
  padding: clamp(1em, 3vw, 3em);
  background-color: var(--l11);
  transition: 300ms;
}

.newsletter-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(1.5rem, 1.5rem + 1vw, 3rem);
  font-weight: 800;
  text-align: center;
  color: var(--light);
}

.newsletter-par {
  width: min(100%, 28rem);
  margin-inline: auto;
  margin-bottom: 0;
  color: var(--color);
  font-size: clamp(1rem, 1rem + 1vw, 1.4rem);
  text-align: center;
  line-height: 1.5;
}

.newsletter-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
  gap: 2em;
}

.footer-input {
  height: 100%;
  padding: 1em;
  border-radius: .5em;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.subscribe-btn {
  padding: 1em;
  border: none;
  border-radius: .5em;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 600;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--l55);
}

.newsletter-notice {
  width: 100%;
  max-width: 35em;
  margin-inline: auto;
  margin-top: 1em;
  margin-bottom: 0;
  color: var(--color);
  font-size: clamp(.75rem, 2vw, 1rem);
  line-height: 1.5;
  text-align: justify;
}

.subscribe-feedback {
  max-height: 0;
  position: relative;
  left: -1000%;
  opacity: 0;
  transition: 500ms;
}
.subscribe-feedback.shown {
  max-height: 15em;
  left: 0;
  opacity: 1;
}

.links-social-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.footer-links-panel-desktop {
  display: none;
}

.footer-links-panel-mobile {
  margin-top: 1em;
}

.footer-links-details {
  border-bottom: 2px solid var(--l30);
  transition: 200ms;
}

.footer-links-details:hover {
  border-bottom: 2px solid var(--light);
}

.footer-links-summary {
  padding: .5em .5em .5em 0;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: border 300ms;
}

.footer-links-list {
  margin-top: 0;

  a {
    display: block;
    padding: .25em;
    color: var(--l80);
    text-decoration: none;
    transition: color 300ms;
  }

  a:hover,
  a:focus {
    color: var(--light)
  }
}

.footer-links-summary::marker {
  color: var(--light);
}

.social-wrapper {
  margin-top: 2em;
}

.social-par {
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  text-align: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: .5em;
  transition: 300ms;
}

.social-icon {
  width: 100%;
  max-width: 25px;
  min-width: 25px;
  aspect-ratio: 1 / 1;
  filter: invert();
  transition: scale 300ms;
}

.social-icon:hover,
.social-icon:focus {
  scale: 1.35;
}

[alt="youtube icon"] {
  max-width: 35px;
  min-width: 35px;
}

.copyrights {
  padding: 1em;
  padding-top: 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(1rem, 3vw, 2rem);
  color: var(--l40);
}














/* ---------- DESKTOP HEADER ------------ */

@media (min-width: 45em) {
  .footer-links-panel-mobile {
    display: none;
  }
  .footer-links-panel-desktop {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 2em;
    
    h2 {
      font-size: 1.5rem;
    }

    a {
      font-size: clamp(1rem, 1vw, 1.25rem);
    }
  }

  .social-par {
    font-size: 1.5rem;
  }
}

@media (min-width: 60em) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--l11);
    transition: 300ms;
  }

  .desktop-header[data-visible="false"] {
    transform: translateY(-100%);
  }

  .desktop-header[data-visible="true"] {
    transform: translateY(0%);
  }

  .navigation {
    flex-direction: column;
    align-items: normal;
    gap: 1em;
  }

  .top-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3em;
  }

  .desktop-menu {
    display: flex;
    justify-content: center;
    gap: clamp(2em, 3vw, 4em);

    a {
      font-size: clamp(1rem, 1vw, 1.5rem);
      color: var(--color);
      transition: color 300ms;
    }

    a:hover,
    a:focus {
      color: var(--light);
    }
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    max-width: 35em;
  }

  .footer-links-panel-mobile {
    display: none;
  }

  .links-social-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3em;
    margin-top: 0;
  }

  .footer-links-panel-desktop {
    gap: clamp(3em, 5vw, 7em);

    h2 {
      margin-top: 0;
    }
  }

  .header-btns {
    gap: 1em;
  }

  .header-btn-icon {
    font-size: 1.75rem;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  .modal {
    display: none;
  }
 
  body:has(.modal[data-visible="true"]) {
    overflow-y: auto;
  }
}

@media (min-width: 70em) {
  .newsletter-section {
    padding-inline: 6em;
  }

  .newsletter-title,
  .newsletter-par {
    text-align: left;
  }
}

/* ------------------------------------- */
