:root {
  box-sizing: border-box;
  color-scheme: light dark;

  --color: hsl(146, 100%, 53%);
  --color2: hsl(146, 100%, 53%);
  --light: hsl(0, 0%, 88%);
  --l90: hsl(0, 0%, 90%);
  --l80: hsl(0, 0%, 80%);
  --l60: hsl(0, 0%, 60%);
  --l55: hsl(0, 0%, 55%);
  --l40: hsl(0, 0%, 40%);
  --l30: hsl(0, 0%, 30%);
  --l11: hsl(0, 0%, 11%);
  --l5: hsl(0, 0%, 5%);
  --menu: hsl(0, 0%, 30%);

}

*, *::before, *::after {
  box-sizing: inherit;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 400ms;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  display: block;
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
  background-size: cover;
  background-repeat: no-repeat;
}

.input {
  display: block;
  outline: 2px solid var(--l30);
  border: none;
  background: none;
  color: var(--light);
  text-align: center;
  transition: outline 300ms;
}

.input::placeholder {
  color: var(--l60);
}

.input:focus,
.input:hover {
  outline: 2px solid var(--l90);
}



/* --------- LIGHT & DARK THEME --------- */

body.dark_mode {
  --bg: hsl(0, 0%, 0%);
  background-color: var(--bg);
}

body.light_mode {
  --color: hsl(146, 100%, 25%);
  --light: hsl(0, 0%, 0%);
  --l90: hsl(146, 100%, 30%);
  --l80: hsl(0, 0%, 20%);
  --l70: hsl(146 80% 25% / .4);
  --l55: hsl(146, 100%, 25%);
  --l30: hsl(146, 100%, 25%);
  --l11: hsl(146, 30%, 78%);
  --l5: hsl(146, 30%, 83%);
  --menu: hsl(146, 30%, 65%);

  background-color: hsl(146, 30%, 86%);

  .mobile-header,
  .desktop-header {
    --l11: hsl(146, 30%, 75%);
  }

  .search-form:hover,
  .search-form:focus-within {
    border: 2px solid hsl(146, 100%, 45%);
  }

  .deal-text {
    --light: hsl(146, 30%, 91%);
    color: var(--light)
  }

  .search-btn:focus {
    --light: hsl(0, 0%, 100%);
    --color: hsl(146, 100%, 30%);
    color: var(--light);
    background-color: var(--color);
  }

  .footer-input::placeholder {
    color: hsl(0, 0%, 50%);
  }

  .footer-input:hover,
  .footer-input:focus {
    outline: 2px solid hsl(146, 100%, 45%);
  }

  .subscribe-btn {
    background-color: hsl(146, 100%, 25%);

    &:hover,
    &:focus {
      background-color: hsl(146, 30%, 40%);
    }
  }
  
  .footer-links-panel-desktop,
  .footer-links-panel-mobile {
    --light: hsl(146, 100%, 35%);
  }

  .social-icon {
    filter: brightness(0%);
  }
}

@media (prefers-color-scheme: light) {
  body {
    --color: hsl(146, 100%, 25%);
    --light: hsl(0, 0%, 0%);
    --l90: hsl(146, 100%, 30%);
    --l80: hsl(0, 0%, 20%);
    --l70: hsl(146 80% 25% / .4);
    --l55: hsl(146, 100%, 25%);
    --l30: hsl(146, 100%, 25%);
    --l11: hsl(146, 30%, 78%);
    --l5: hsl(146, 30%, 83%);
    --menu: hsl(146, 30%, 65%);

    background-color: hsl(146, 30%, 86%);

    .mobile-header,
    .desktop-header {
      --l11: hsl(146, 30%, 75%);
    }

    .search-form:hover,
    .search-form:focus-within {
      border: 2px solid hsl(146, 100%, 45%);
    }

    .deal-text {
      --light: hsl(146, 30%, 91%);
      color: var(--light)
    }

    .search-btn:focus {
      --light: hsl(0, 0%, 100%);
      --color: hsl(146, 100%, 30%);
      color: var(--light);
      background-color: var(--color);
    }

    .footer-input::placeholder {
      color: hsl(0, 0%, 50%);
    }

    .footer-input:hover,
    .footer-input:focus {
      outline: 2px solid hsl(146, 100%, 45%);
    }

    .subscribe-btn {
      background-color: hsl(146, 100%, 25%);

      &:hover,
      &:focus {
        background-color: hsl(146, 30%, 40%);
      }
    }
    
    .footer-links-panel-desktop,
    .footer-links-panel-mobile {
      --light: hsl(146, 100%, 35%);
    }

    .social-icon {
      filter: brightness(0%);
    }
  }
}

/* -------------------------------------- */
