
.about-section {
  margin-top: 2rem;
  padding: 1rem clamp(1rem, 4vw, 5rem);
}

.about-section h2 {
  margin-bottom: 1rem;
  color: var(--clr-prim);
  font-size: 1.8rem;
}

.about-section p {
  max-width: 40em;
  font-size: 1.35rem;
  color: var(--clr-title);
  text-align: justify;
  line-height: 1.6;
}

.about-section ul {
  list-style-type: disc;
  padding: 1rem;
}

.about-section ul li {
  margin: 0.5rem 0;
  color: var(--clr-title);
  font-size: 1.35rem;
}

.about-cta {
  margin-top: 4rem;
  text-align: center;
}

.centered-section {
  margin-inline: auto;
  text-align: center;
  max-width: 30em;
  color: var(--clr-prim);
  font-size: 1.5rem;
}

.centered-section .logo {
  display: block;
}

.centered-section svg {
  width: 50px;
  height: 50px;
}

.centered-section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.centered-section p {
  font-size: 2rem;
}

.about-page h3 {
  color: var(--clr-prim);
}