.items-page {
  margin-top: 10rem;
  padding: 1em;
  position: relative;
}

.items-page .back-shopping-btn {
  font-size: 1.15rem;
}

.section-title-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: var(--txt-clr2);
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  margin-top: 0;
  margin-bottom: 0;
}

.items-par {
  margin: 0;
  font-weight: 700;
}

.section-icon {
  font-size: 1.75rem;
}

.item-container {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  gap: 1em;
  margin-inline: auto;
  margin-bottom: 2em;
  transform: translateX(0);
}

.menu {
  position: relative;
}

.menu-content-wrapper {
  width: 100%;
  max-width: 30em;
  position: fixed;
  right: 0;
  top: 40px;
  z-index: 4000;
  padding: 1em;
  background-color: var(--menu-bg-prim);
  cursor: auto;
}

.menu-content {
  max-height: 11em;
  overflow-y: auto;
  
  & .section-title {
    color: hsl(0, 0%, 100%);
    font-size: .9rem;
    margin-bottom: .5em;
    margin-top: 0;
  }

  & .section-icon {
    font-size: .9rem;
  }

  & .new-fav-btn {
    top: 0;
  }
}

.menu-content-wrapper:after {
  display: none;
  width: 10px;
  height: 10px;
  content: '';
  position: absolute;
  top: -19px;
  right: 16px;
  border: 10px solid transparent;
  border-bottom: 10px solid var(--menu-bg-prim);
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .6em;
  position: relative;
  padding-right: .5em;
  border-bottom: 2px solid var(--border);
  cursor: auto;
  transform: translateX(0);
}

.menu-item .loader {
  height: 35px;
  width: 35px;
}

.menu-btn {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: .8rem;
  text-decoration: none;
}

.menu-item-img {
  max-width: 2.5em;
  max-height: 2.5em;
}

.menu-item-title {
  max-width: 15em;
  max-height: 4em;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: hsl(0, 0%, 100%);
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: .65rem;
}

.menu-item-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .8rem;
  color: hsl(0, 0%, 100%);
}

.menu-item-btn {
  width: 50px;
  height: 40px;
  background: none;
  border: none;
  position: relative;
  isolation: isolate;
  border-radius: 50%;

  & svg {
    fill: hsl(0, 0%, 100%);
  }
}

.menu-item-btn:hover {
  background-color: var(--theme-btn-hov);
}

.menu-item-cart-icon {
  font-size: 1.15rem;
}

.menu-no-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: hsl(0, 0%, 100%);
}

.items-page.loading {
  transform: translateX(0);
}

.items-page.loading .loader-modal[data-open="true"] {
  margin-top: 6em;
  backdrop-filter: blur(0px);
  background-color: hsl(0 0% 0% / 0);
}

.items-page.loading .loader,
.items-page-section .loader:after {
  color: var(--clr-prim);
} 