
.cart-img-wrapper {
  max-width: 8em;
  min-width: 80px;
  position: relative;
  border-radius: 10px;
}

.cart-img {
  border-radius: inherit;
  transition: scale 300ms;
}

.cart-img:hover {
  scale: 1.1;
}

.cart-products-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 70em;
}

.cart-product {
  display: flex;
  justify-content: space-around;
  column-gap: clamp(1em, 1.5vw, 2em);
  row-gap: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--new-card-bg);
  transform: translateX(0);

  & span:nth-child(2) {
    display: block;
    margin-inline: auto;
  }
}

.cart-product div:first-child {
  cursor: pointer;
}

.cart-product .sale-price-wrapper {
  margin-bottom: 0;
}

.cart-product .new-price {
  font-size: 1.15rem;
}

.cart-product .price-cart-wrap {
  max-width: 30em;
}

.cart-product .new-card-price {
  width: auto;
}

.cart-product_link {
  text-decoration: none;
}

.cart-product_title {
  margin-top: 0;
  color: var(--txt-clr2);
}

.cart-product_title:hover {
  color: var(--txt-hov2);
}

.order-summary {
  position: sticky;
  top: 11em;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--new-card-bg);
  color: var(--txt-clr2);
}

.order-summary .new-card-btn {
  justify-content: center;
  margin-top: 3em;
  padding-block: .5em;
  font-size: 1.25rem;
}

.order-summary h2 {
  margin-top: 0;
}

.order-prices p {
  display: flex;
  justify-content: space-between;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--clr-prim);
}

.order-prices p:last-child {
  font-weight: 700;
  font-size: 1.15rem;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  align-items: start;
  gap: 2em;
  max-width: 70em;
  position: relative;
  margin-inline: auto;
  transform: translateX(0);
}

.quantity-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em
}

.quantity-selector {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 9rem;
}

.quantity-selector button {
  padding-bottom: 18px;
  font-size: 1.5rem;
}

.quantity {
  font-size: 1.35rem;
  color: var(--clr-prim);
}

.cart-item-btn {
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.cart-remove-item {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: var(--btn-bg);
}

.cart-remove-item:hover,
.cart-remove-item:focus {
  background-color: var(--btn-bg-hov);
}

/* .cart-remove-item {
  display: block;
  width: 40px;
  height: 40px;

  & svg {
    display: block;
    width: 40px;
    height: 30px;
    margin-inline: auto;
  }
} */

.price-info-wrapper {
  display: flex;
  justify-content: space-between;
  padding: .5em 0;
  font-size: .8rem;
  color: hsl(0, 0%, 100%);

  & p {
    margin: .25em;
  }
}

