.category-page-main {
  margin-top: 11rem;
  padding: 1em;
}

.category-page-title {
  max-width: 25em;
  margin-top: 0;
  margin-inline: auto; 
  color: var(--clr-new-title);
  text-align: center;
  font-size: 1.75rem;
}

.prod-category_subtitle {
  margin-top: 0;
  text-align: center;
  color: var(--clr-new-title);
}

.prod-category {
  padding: clamp(1em, 2vw, 2em);
  border-radius: 10px;
  background-color: var(--new-card-bg);
  text-decoration: none;
}

.prod-category:hover,
.prod-category:focus {
  background-color: var(--cat-hov);
  
  & img {
    scale: 1.1;
  }
}

.prod-category_img-wrap {
  width: 17rem;
  height: 15em;
  border-radius: 10px;
  overflow: hidden;
}

.prod-category_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: scale 300ms;
}

.prod-category_link {
  color: var(--txt-clr2);
}

.prod-category_description {
  max-width: 17rem;
  margin-top: 0;
  font-size: clamp(1.15rem, 1.2vw, 1.35rem);
  color: var(--txt-clr2);
}

.prod-category_link:hover,
.prod-category_link:focus {
  color: var(--txt-hov2);
}

.category-page-err {
  margin-top: 3em;
  text-align: center;
  color: var(--clr-title);
}

.category-page-subcategories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: clamp(2em, 10vw, 3em);
  row-gap: 2em;
  padding: 1em;
  padding-top: 0;
  margin-top: 2em;
}

.img-description-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(1em, 2vw, 2em);
  width: 100%;
}

.empty-category-par {
  max-width: 20em;
  margin-inline: auto;
  color: var(--txt-clr2);
  font-size: 1.5rem;
}

.empty-category-par a {
  color: inherit;
}

.not-found-product-img {
  border-radius: 50%;
}

.loading-products {
  height: 5rem;
  margin-top: 11rem;
  transform: translateX(0);
}

.loading-products .loader-modal[data-open="true"] {
  backdrop-filter: blur(0px);
  background-color: hsl(0 0% 0% / 0);
  margin-top: 5em;
}

.loading-products .loader,
.loading-products .loader:after {
  color: var(--clr-prim);
}

.all-prod-section {
  margin-top: 11rem;
}

.all-prod-section .new-section-grid-wrapper {
  margin: 0;
  margin-top: 3em;
}