
/* ------------- COMPONENTS -------------- */

.go-top-btn {
  display: none;
  position: fixed;
  z-index: 2000;
  bottom: 25%;
  right: 10px;
  background-color: var(--btn-bg);
  color: white;
  border: none;
}

.go-top-btn:hover,
.go-top-btn:focus {
  background-color: var(--btn-bg-hov);
}

.go-top-btn[data-visible="true"] {
  display: block;
}

.input {
  display: block;
  outline: 2px solid var(--border);
  border: none;
  background: none;
  color: var(--inp-text);
  text-align: center;
}

.input::placeholder {
  color: var(--inp-holder);
}

.input:focus,
.input:hover {
  outline: 2px solid var(--border-hov);
}

.input:focus {
  background-color: var(--form-foc);
}

.theme-switcher {
  max-height: 28px;
  position: relative;
}

.theme-switcher-btn {
  border: none;
  background: none;
}

.theme-list_wrapper {
  width: 120px;
  position: absolute;
  z-index: 5000;
  right: -5px;
  top: 40px;
}

.theme-list_wrapper:after {
  width: 10px;
  height: 20px;
  content: '';
  position: absolute;
  top: -19px;
  right: 10px;
  border: 7px solid transparent;
  border-bottom: 10px solid var(--menu-bg-prim);
}

.theme-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
}

.theme-btn {
  display: flex;
  align-items: center;
  gap: .75em;
  width: 120px;
  padding: 5px 20px;
  border: none;
  background-color: var(--theme-btn-bg);
  color: var(--theme-btn-clr);
  font-size: 1.15rem;
}

.theme-btn:hover,
.theme-btn:focus {
  background-color: var(--theme-btn-hov);
}

.theme-icon {
  font-size: 1.25rem;
}

.close-menu-btn {
  display: block;
  width: 100%;
  padding: .25em .5em;
  border: none;
  background-color: var(--btn-bg);
  color: var(--btn-clr);
  font-size: 1.25rem;
}

.close-menu-btn.sub {
  position: absolute;
  bottom: 0;
}

.close-menu-btn:hover,
.close-menu-btn:focus {
  background-color: var(--btn-bg-hov);
}

.clear-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  max-width: 50em;
  position: relative;
  margin-inline: auto;
  margin-bottom: 2em;
}

.clear-wrap.no-favorites {
  justify-content: center;
}

.clear-wrap .new-card-btn {
  max-width: 12em;
  justify-content: center;
  font-size: 1rem;
}

.clear-confirmation {
  display: flex;
  flex-wrap: wrap;
  max-width: 30em;
  position: relative;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--new-card-bg);
  overflow: hidden;
  transform: translateX(0);
}

.clear-confirmation p {
  width: 100%;
  max-width: 20em;
  color: var(--txt-clr2);
  margin-inline: auto;
  margin-top: 0;
}

.clear-confirmation .new-card-btn {
  max-width: 20em;
  width: 100%;
}

.clear-confirmation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

.clear-status {
  position: absolute;
  width: 300px;
  top: -20px;
  left: calc(50% - 300px / 2);
  text-align: center;
  color: var(--txt-clr2);
}

.back-shopping-btn {
  display: flex;
  justify-content: center;
  max-width: 15em;
  margin-inline: auto;
  margin-top: 3em;
  padding: .5em 1em;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
}

/* ------------------------------------- */