.favorites-section {
  margin-top: 10rem;
  padding: 1em;
}

.fav-title-txt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  gap: 1em;
  color: var(--txt-clr2);
}

.favorites-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  margin-top: 0;
  margin-bottom: 0;
}

.favorites-par {
  margin: 0;
  font-weight: 700;
}

.favorites-icon {
  font-size: 1.75rem;
}

.back-shopping-btn {
  display: flex;
  justify-content: center;
  max-width: 15em;
  margin-inline: auto;
  margin-top: 2em;
  padding: .5em 1em;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
}

.fav-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-inline: auto;
  max-width: 70rem;
}

.fav-btns-wrap {
  width: 100%;
}

.fav-prod {
  max-width: 70rem;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--new-card-bg);

  & .sale-price-wrapper {
    justify-content: space-between;
    column-gap: 1em;
  }

  & .new-card-sale-limit {
    gap: .5em;
  }
  
  & .new-card-price {
    justify-content: normal;
    
    & * {
      width: 50%;
    }
  }
  
  & .new-price {
    font-size: 1.5rem;
  }
  
  & .old-price {
    font-size: 1.35rem;
  }
  
  & .sale-txt,
  & .limit-txt {
    font-size: .9rem;
  }
  
  & .new-cart-icon,
  & .prod-fav-icon,
  & .prod-title,
  & button {
    font-size: 1rem;
  }

  .prod-title {
    text-align: initial;
  }
}

.prod-title-link {
  text-decoration: none;
}

.prod-title:hover,
.prod-title:focus {
  color: var(--txt-hov2);
}

.prod-title-link:focus-within img {
  scale: 1.1;
}

.fav-prod-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 2em;
  row-gap: 1em;
}

.fav-prod-img-wrap {
  border-radius: 10px;
  overflow: hidden;
}

.fav-prod-img {
  max-height: 17em;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: scale 300ms;
}

.fav-prod-img:hover {
  scale: 1.1;
}

.img-title-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.price-cart-wrap {
  width: 100%;
  max-width: 20rem;
}

.fav-hover_menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30em;
  right: 0;
  position: fixed;
  top: 50px;
  z-index: 4000;
  padding: 1em;
  background-color: var(--menu-bg-prim);
  cursor: auto;

  & .favorites-title {
    color: white;
    font-size: 1.15rem;
    margin-bottom: .5em;
    margin-top: 0;
  }
}

.fav-hover_prod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: .5em;
  border-bottom: 2px solid var(--border);
  cursor: auto;
}

.fav-hover_btn {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 1rem;
  text-decoration: none;
}

.fav-hover_remove-btn:hover {
  background-color: var(--theme-btn-hov);
}

.fav-hover_prod:last-of-type {
  border-bottom: 2px solid transparent;
}

.fav-hover_img {
  max-width: 2.5em;
  max-height: 2.5em;
}

.fav-hover_prod-title {
  max-width: 15em;
  max-height: 4em;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: .75rem;
}

.fav-hover_prod-price {
  font-size: 1rem;
  color: white;
}

.fav-hover_remove-btn {
  background: none;
  border: none;
  position: relative;
  isolation: isolate;
  color: white;
  
  & span { font-size: 1.25rem; }
}

.fav-hover_fav-icon {
  font-size: 1rem;
}

.fav-hover_menu-no-fav {
  text-align: center;
  color: white;
}

.fav-hover_cart-ico {
  font-size: 1.15rem;
}




