.favorites-section {
  margin-top: clamp(12rem, 2vw, 15rem);
  padding: .5em;
  padding-top: 0;
}

.fav-title-txt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  gap: 1em;
}

.favorites-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.favorites-par,
.favorites-title {
  margin: 0;
  color: var(--clr-title);
}

.favorites-icon {
  font-size: 2rem;
}

.back-shopping-btn {
  display: flex;
  justify-content: center;
  max-width: 15em;
  margin-inline: auto;
  margin-top: 2em;
  padding: .5em 1em;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
}

.fav-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-inline: auto;
  max-width: 70rem;
}

.fav-btns-wrap {
  width: 100%;
}

.fav-prod {
  max-width: 70rem;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--new-card-bg);

  & .sale-price-wrapper {
    column-gap: 1em;
    flex-wrap: nowrap;
  }

  & .prod-title {
    width: 13em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: clamp(.85rem, 1vw, 1rem);
  }
  
  & .new-card-sale-limit {
    font-size: clamp(.75rem, 1vw, .95rem);
    gap: .5em;
  }

  & button {
    font-size: 1rem;
  }

  & .new-cart-icon,
  & .prod-fav-icon {
    font-size: 1rem;
  }
}

.fav-prod-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 2em;
  row-gap: 1em;
}

.fav-prod-img {
  /* height: 50px; */
  max-width: clamp(60px, 8vw, 120px);
  aspect-ratio: 12 / 9;
  /* object-fit: cover; */
}

.img-title-wrap {
  display: flex;
  width: 100%;
  max-width: 23rem;
  justify-content: space-between;
  align-items: center;
}

.price-cart-wrap {
  width: 100%;
  max-width: 23rem;
}

.fav-count {
  width: 15px;
  position: absolute;
  left: 10px;
  top: -2px;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--red);
  color: white;
  font-size: .6rem;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

