
.fav-item {
  display: flex;
  position: relative;
  justify-content: space-around;
  gap: 1em;

  max-width: 50rem;
  padding: clamp(.5em, 1vw, 1em);
  border-radius: 10px;
  background-color: var(--new-card-bg);
  transform: translateX(0);

  & .sale-price-wrapper {
    justify-content: space-between;
    column-gap: 1em;
    margin-bottom: 0;
  }

  & .new-card-sale-limit {
    gap: .5em;
  }
  
  & .new-card-price {
    justify-content: normal;
    width: auto;
  }
  
  & .new-price {
    font-size: 1.15rem;
  }
  
  & .old-price {
    font-size: 1.15rem;
  }
  
  & .sale-txt,
  & .limit-txt {
    font-size: .9rem;
  }
  
  & .new-cart-icon,
  & .prod-fav-icon,
  & .prod-title {
    font-size: 1rem;
  }

  .prod-title {
    display: -webkit-box;
    height: 45px;
    margin-top: 0;
    margin-bottom: 1em;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-align: initial;
    overflow: hidden;
  }
}

.fav-item .button-wrapper {
  width: 100%;
  max-width: 10em;
  margin-top: 1em;
}

.prod-title-link {
  text-decoration: none;
}

.prod-title:hover,
.prod-title:focus {
  color: var(--txt-hov2);
}

.prod-title-link:focus-within img {
  scale: 1.1;
}

.fav-item-img-wrap {
  position: relative;
  border-radius: 10px;
}

.fav-item-img {
  max-width: 7rem;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: scale 300ms;
}

.fav-item-img:hover {
  scale: 1.1;
}

.img-title-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.price-cart-wrap {
  width: 100%;
  max-width: 20rem;
}

.remove-fav-btn {
  justify-content: center;
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  top: -25px;
  right: -7px;
  z-index: 1;
  padding: .25em;
  border-radius: 50%;

  & .prod-fav-icon { font-size: 1.15rem; }
}

.sale-price-wrapper .flex {
  display: flex;
  flex-wrap: wrap;
}



