
/* -------------- FOOTER --------------- */

.footer {
  margin-top: 5rem;
  background-color: var(--footer-bg);
  color: var(--clr-prim);
}

.newsletter-section-container {
  container-name: newsletter-section;
  container-type: inline-size;
}

.newsletter-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 3em;
  row-gap: 2em;
  padding: clamp(1em, 3vw, 3em);
  padding-inline: clamp(1em, 5vw, 5em);
  background-color: var(--bg-sec);
}

@container newsletter-section (width > 600px) {
  .newsletter-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

.newsletter-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(1.5rem, 1.5rem + 1vw, 3rem);
  font-weight: 800;
  color: var(--clr-title);
}

.newsletter-par {
  width: min(100%, 28rem);
  margin-bottom: 0;
  color: var(--clr-prim);
  font-size: clamp(.95rem, 2vw, 1.25rem);
  line-height: 1.3;
}

.newsletter-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
  column-gap: 2em;
  row-gap: 1em;
}

.footer-input {
  height: 100%;
  padding: .75em;
  border-radius: .5em;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

.subscribe-btn {
  padding: .75em;
  border: none;
  border-radius: .5em;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 600;
  color: var(--btn-clr);
  background-color: var(--btn-bg);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--btn-bg-hov);
}

.newsletter-notice {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0;
  color: var(--clr-prim);
  font-size: clamp(.85rem, 1.25vw, 1rem);
  line-height: 1.5;
  text-align: justify;
}

.subscribe-feedback {
  max-height: 0;
  overflow: hidden;
  transition: max-height 600ms;
}
.subscribe-feedback.shown {
  max-height: 15em;
}

.links-social-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
  padding: 0 1em;
  margin-top: 2em;
}

.footer-links_card {
  cursor: pointer;
}

.footer-menu {
  margin-bottom: 1em;
}

.footer-links_btn {
  margin-bottom: 1em;
  background: none;
  border: none;
  color: var(--clr-title);
  font-size: 1.25rem;
  font-weight: 700;
}

.footer-links_list {
  margin: 0;
}

.footer-links_list a {
  display: block;
  padding: .25em;
  color: var(--foot-link-clr);
  text-decoration: none;
}

.footer-links_list a:hover,
.footer-links_list a:focus {
  color: var(--foot-link-hov);
}


.social-par {
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  text-align: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0em;
}

.social-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: .5em;
}

.social-icon {
  width: 100%;
  max-width: 25px;
  min-width: 25px;
  aspect-ratio: 1 / 1;
  filter: invert();
  transition: scale 300ms;
}

.social-icon:hover,
.social-icon:focus {
  scale: 1.35;
}

[alt="youtube icon"] {
  max-width: 35px;
  min-width: 35px;
}

[alt="pinterest icon"] {
  max-width: 30px;
  min-width: 30px;
}

[alt="x icon"] {
  max-width: 28px;
  min-width: 28px;
}

.copyrights {
  padding-bottom: 2rem;
  margin-bottom: 0em;
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(1.25rem, 3vw, 2rem);
  color: var(--copyright-clr);
}

/* --------------------------------------- */