.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: var(--bg-sec);
  transition: top 300ms;
}

.header[data-visible="false"] {
  top: -106px;
}

.header[data-visible="true"] {
  top: 0;
}

.navigation {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: .5em;
}

.mobile-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--clr-prim);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 2.15rem);
  font-weight: 800;
}

.cog-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinnn 5s linear infinite;
  font-size: clamp(1.5rem, 2vw, 2.25rem);
  padding: 0;
  border-radius: 50%;
} 

@keyframes spinnn {
  from { transform: rotateZ(0); }
  to { transform: rotateZ(360deg); }
}

.account-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(8px, .5vw, 5em);
}

.header-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--clr-prim);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.header-btn:hover,
.header-btn:focus {
  color: var(--icon-hov);

  & .header-btn_name-icon {
    border: 2px solid var(--icon-hov);
  }

  & p {
    color: var(--clr-prim);
  }
}

.header-btn-icon {
  position: relative;
  font-size: 1.3rem;
}

.search-wrapper {
  width: min(100%, 40em);
}

.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid var(--border);
  border-radius: .6em;
}

.search-form:hover {
  border: 2px solid var(--border-hov);
}

.search-form:focus-within {
  border: 2px solid var(--border-hov);
  background-color: var(--form-foc);
}

.search-input {
  width: 100%;
  max-width: 30em;
  height: 100%;
  padding: .5em;
  border-radius: .5em;
  outline: none;
  font-size: 1.15rem;
}

.search-input:hover,
.search-input:focus {
  outline: none;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: .5em;
  outline: none;
  background: none;
  color: var(--clr-prim);
  transition: 300ms;
}

.search-btn:hover {
  color: var(--icon-hov);
}

.search-btn:focus {
  outline: none;
  color: var(--search-btn-clr);
  background-color: var(--search-btn-foc);
}

.header-btn_name-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  padding-bottom: 2px;
  border-radius: 50%;
  border: 2px solid var(--clr-prim);
  background-color: var(--account-icon-bg);
  color: var(--icon-hov);
  font-size: .75rem;
  cursor: pointer;
}

.fav-cart-count {
  width: 15px;
  position: absolute;
  left: 10px;
  top: -2px;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--red);
  color: white;
  font-size: .6rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.account-btn-wrapper {
  position: relative;
}

.account-hov-menu {
  width: 9.75em;
  position: absolute;
  right: -14px;
  top: 40px;
  padding: 1em;
  background-color: var(--menu-bg-prim);
  border-radius: 10px;
  z-index: 6000;
  cursor: pointer;
  color: white;

  & p {
    margin: 0 0 .5em 0;
    font-size: .8rem;
  }

  & p:last-child {
    margin-bottom: 0;
  }

  & h2 {
    margin-top: 0;
    font-size: .85rem;
  }
}

.account-hov-menu:hover > button {
  border: 2px solid var(--border-hov);
}

.account-hov-menu:after {
  height: 20px;
  width: 10px;
  content: '';
  position: absolute;
  top: -20px;
  right: 15px;
  border: 10px solid transparent;
  border-bottom: 10px solid var(--menu-bg-prim);
}