@import url('base.css');
@import url('components.css');
@import url('header.css');
@import url('footer.css');
@import url('main.css');
@import url('theme.css');
@import url('favorites.css');
@import url('login.css');
@import url('register.css');
@import url('responsive.css');