@import url('base.css');
@import url('components.css');
@import url('header.css');
@import url('footer.css');
@import url('main.css');
@import url('theme.css');
@import url('favorites.css');
@import url('login.css');
@import url('register.css');
@import url('product.css');
@import url('categories.css');
@import url('loaders.css');
@import url('cart.css');
@import url('profile.css');
@import url('mobile-menu.css');
@import url('recently-viewed.css');
@import url('responsive.css');