.account-modal {
  margin-top: 10em;
  position: fixed;
  filter: blur(10px);
}

.login-wrapper {
  width: 100%;
  max-width: 40em;
  max-height: 40em;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 40px;
  z-index: 3500;
  padding: 1.15em;
  border-radius: 10px;
  background-color: var(--menu-bg-prim);
  opacity: 0;
  transition: opacity 200ms;
  overflow: auto;

  & button,
  & a {
    font-size: 1rem;
  }
}

input.login-wrapper.login-wrapper {
  overflow: auto;
}

.login-wrapper[data-appear="true"] {
  opacity: 1;
}

.login-wrapper[data-appear="false"] {
  opacity: 0;
}

.login-title {
  text-align: center;
  font-size: 1.15rem;
  margin-top: 0;
}

.login-btn {
  display: block;
  width: 100%;
  margin-inline: auto;
  padding: 1em;
  border-radius: 10px;
  border: none;
  background-color: var(--btn-bg);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--btn-clr);
}

.login-form,
.create-account-wrapper {
  max-width: 30em;
  margin-inline: auto;
}

.create-account-wrapper {
  margin-top: 1.5em;
}

.login-form input {
  display: block;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 1em;
  padding: .5em;
  border-radius: .5em;
  font-size: 1.15rem;
}

.login-form input::placeholder {
  color: var(--inp-log-holder);
}

.login-form input:focus {
  background: none;
}

.login-pass-wrapper {
  position: relative;
}

.visible-pass-btn {
  position: absolute;
  right: .5em;
  top: 8px;
  background: none;
  border: none;
  color: var(--clr-prim);
}

.visible-pass-btn:hover,
.visible-pass-btn:focus {
  color: var(--icon-hov);
}

.keep-logged-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.keep-logged-label:hover,
.keep-logged-label:focus-within {
  text-decoration: underline;
}

input.keep-logged-checkbox {
  width: fit-content;
  margin: 0;
  vertical-align: baseline;
  font-size: .75rem;
}

.keep-logged-text {
  margin: 0;
}

.login-form a {
  display: block;
  width: fit-content;
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--txt-deal);
  text-align: right;
}

.login-form a:hover,
.login-form a:focus {
  color: var(--icon-hov);
}

.close-login-btn {
  display: flex;
  justify-content: center;
  width: 2em;
  position: sticky;
  left: calc(100% - 2em);
  background: none;
  font-size: .9rem;
}

.sign-in-btn {
  padding: .5em 0;
  font-weight: 700;
  font-size: 1rem;
}

.login-btn:hover,
.login-btn:focus {
  background-color: var(--btn-bg-hov);
}

.create-account-par {
  margin-bottom: 2em;
  color: var(--account-par);
  text-align: justify;
}

.create-account-link {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: .85rem;
  text-align: center;
  text-decoration: none;
}

.forgot-pass-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1em;
}

.logout-confirm-par {
  margin-top: 0;
  text-align: center;
}

.logout-confirm-modal {
  background-color: var(--menu-bg-sec);
  padding: 1em;
  margin-top: 1em;
  border-radius: 10px;
}

.confirm-logout-btn {
  justify-content: center;
  margin-top: 1em;
  padding: .75em;
  text-align: center;
}

.account-stats button,
.account-stats a {
  justify-content: center;
  padding: .5em 1em;
}

.account-stats a {
  margin-top: 2em;
  margin-bottom: 1em;
  text-decoration: none;
}