.account-modal {
  margin-top: 10em;
  position: fixed;
  filter: blur(10px);
}

.login-wrapper {
  width: 100%;
  position: fixed; 
  bottom: 0;
  right: 0;
  top: 40px;
  z-index: 3500;
  padding: 1.15em;
  background-color: var(--menu-bg-prim);
  color: var(--clr-deal);

  & .new-card-btn {
    max-width: 25em;
    margin-inline: auto;
  }
}

.login-wrapper input {
  color: var(--inp-text);
}

.login-wrapper::after {
  display: none;
  width: 10px;
  height: 10px;
  content: '';
  position: absolute;
  top: -19px;
  right: 16px;
  border: 10px solid transparent;
  border-bottom: 10px solid var(--menu-bg-prim);
}

.login-title {
  margin-top: 0;
  text-align: center;
  font-size: 1.15rem;
}

.login-btn {
  display: block;
  width: 100%;
  margin-inline: auto;
  padding: 1em;
  border-radius: 10px;
  border: none;
  background-color: var(--btn-bg);
  font-weight: 700;
  color: var(--btn-clr);
  font-size: 1rem;
}

.login-form,
.create-account-wrapper {
  max-width: 30em;
  margin-inline: auto;
}

.create-account-wrapper {
  margin-top: 1.5em;
}

.login-form input {
  display: block;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 1em;
  padding: .5em;
  border-radius: .5em;
  font-size: 1.15rem;
}

.login-form input::placeholder {
  color: var(--inp-log-holder);
}

.login-form input:focus {
  background: none;
}

.login-pass-wrapper {
  position: relative;
}

.visible-pass-btn {
  position: absolute;
  right: .5em;
  top: 8px;
  background: none;
  border: none;
  color: var(--clr-prim);
}

.visible-pass-btn:hover,
.visible-pass-btn:focus {
  color: var(--icon-hov);
}

.keep-logged-label {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.keep-logged-label:hover,
.keep-logged-label:focus-within {
  text-decoration: underline;
}

input.keep-logged-checkbox {
  width: fit-content;
  margin: 0;
  vertical-align: baseline;
  font-size: .75rem;
}

.keep-logged-text {
  margin: 0;
}

.login-form a {
  display: block;
  width: fit-content;
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--txt-deal);
  text-align: right;
}

.login-form a:hover,
.login-form a:focus {
  color: var(--icon-hov);
}

.close-login-btn {
  display: flex;
  justify-content: center;
  width: 2em;
  position: sticky;
  left: calc(100% - 2em);
  background: none;
  /* font-size: .9rem; */
  color: var(--clr-deal);
}

.sign-in-btn {
  display: flex;
  justify-content: center;
  padding: .5em 0;
  font-weight: 700;
  text-decoration: none;
}

.sign-in-btn:last-child {
  margin-top: 1em;
}

.login-btn:hover,
.login-btn:focus {
  background-color: var(--btn-bg-hov);
}

.create-account-par {
  margin-bottom: 1em;
  text-align: justify;
}

.create-account-link {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: .85rem;
  text-align: center;
  text-decoration: none;
}

.forgot-pass-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1em;

  & input {
    color: inherit;
  }
}

.forgot-pass-wrap a {
  text-decoration: none;
}

.forgot-pass-wrap a:hover,
.forgot-pass-wrap a:focus {
  text-decoration: underline;
}

.logout-confirm-par {
  margin-top: 0;
  text-align: center;
}

.logout-confirm-modal {
  background-color: var(--menu-bg-sec);
  padding: 1em;
  margin-top: 1em;
  border-radius: 10px;
}

.confirm-logout-btn {
  justify-content: center;
  margin-top: 1em;
  padding: .75em;
  text-align: center;
}

.account-stats button,
.account-stats a {
  justify-content: center;
  padding: .5em 1em;
}

.account-stats a {
  margin-top: 2em;
  margin-bottom: 1em;
  text-decoration: none;
}

.account-initial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  border-radius: 50%;
  background-color: var(--bg-sec);
  text-align: center;
  font-size: 2rem;
}

.login-avatar {
  margin: 1em auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}