
/* -------------- MAIN ---------------- */

.sales-outer-wrapper {
  width: 100%;
  background-color: var(--sale-txt-bg);
  overflow: hidden;
}

.sales-inner-wrapper {
  display: flex;
  justify-content: center;
  width: min(100%, 40em);
  position: relative;
  isolation: isolate;
  margin-inline: auto;
  overflow: hidden;
}

.sales-inner-wrapper button {
  position: absolute;
  top: calc(50% - 1em);
  z-index: -1;
  background: none;
  border: none;
  color: var(--sale-txt-clr);

  & span { font-size: 1.5rem; }
}

.sales-inner-wrapper button:hover,
.sales-inner-wrapper button:focus {
  color: var(--sale-txt-hov);
}

button[data-dir="prev"] {
  left: 0px;
}
button[data-dir="next"] {
  right: 0;
}

.sales-width-wrapper {
  width: 80%;
  overflow-x: hidden;
}

.sales-text {
  display: flex;
  align-items: center;
  padding: .75em 0;
  background-color: var(--sale-txt-bg);
  color: var(--clr-title);
  text-align: center;
}

.sales-text a {
  display: block;
  width: 100%;
  flex-shrink: 0;
  color: var(--sale-txt-clr);
  font-size: .85rem;

  &:hover,
  &:focus {
    color: var(--sale-txt-hov);
  }
}

.new-deals-section {
  height: clamp(30em, 50vw, 40em);
  margin-top: 5rem;
}

.controllers-wrapper {
  position: relative;
  top: 50%;
  z-index: 1;
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  border: none;
  border-radius: 50%;
  font-size: 1.75rem;
  opacity: .8;
  transition: opacity 300ms;
}
.controller:hover,
.controller:focus {
  opacity: 1;
}

.left-controller {
  left: 15px;
}
.right-controller {
  right: 15px;
}

.deals-list {
  display: flex;
  height: 100%;
  position: relative;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.deal-item {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.deal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-active="true"] {
  opacity: 1;
}

.deal-text {
  max-width: 20em;
  position: absolute;
  top: 3em;
  left: 1em;
  color: var(--clr-deal);
  font-size: clamp(1.25em, 3vw, 5em);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.deal-text::after {
  content: "|";
  animation: blink 1s infinite step-end;
}

@keyframes blink {
  50% { opacity: 0 }
}

.join-wrapper {
  height: clamp(30em, 50vw, 40em);
  position: relative;
  margin-top: 5rem;
}

.join-img-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.join-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 500ms;
}

.join-wrapper:hover,
.join-wrapper:focus {
  & .join-img,
  & .join-par {
    scale: 1.2;
  }
}

.join-par {
  --width: 250px;
  width: var(--width);
  position: absolute;
  bottom: 2em;
  left: calc(50% - var(--width) / 2);
  margin: 0;
  color: var(--clr-deal);
  font-size: clamp(4rem, 4vw, 7rem);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 10px 10px black;
  user-select: none;
  cursor: pointer;
  transition: scale 500ms;
}

.join-par-sec {
  width: clamp(250px, 100vw, 1000px);
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr-deal);
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  text-transform: uppercase;
  text-shadow: 0 5px 5px black;
  text-align: center;
}

.new-section {
  margin-top: 4rem;
}

.section_title {
  color: var(--clr-prim);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

.new-section-grid-wrapper {
  display: flex;
  justify-content: center;
  container-type: inline-size;
  container-name: new-section-grid;
}

.new-section-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  justify-content: center;
  align-items: center;
  column-gap: clamp(.5em, 3vw, 3em);
  row-gap: clamp(1em, 3vw, 3em);
  padding: clamp(.25em, 1vw, 1em);
  padding-top: .25em;
}


@container new-section-grid (width > 600px) {
  .new-section-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@container new-section-grid (width > 800px) {
  .new-section-grid {
    max-width: 1300px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.new-section-card {
  padding: clamp(.35em, 2vw, 2em);
  border-radius: 1em;
  background-color: var(--new-card-bg);
  transition: all 300ms;
}

.card-img-wrapper {
  max-height: 20em;
  max-width: 28em;
  position: relative;
}

.img-wrapper-inner {
  max-height: 20em;
  max-width: 28em;
  border-radius: .5em;
  overflow: hidden;
}

.new-card-img {
  height: 100%;
  width: 100%;
  border-radius: .5em;
  object-fit: contain;
  transition: scale 300ms;
  cursor: pointer;
}

.new-card-img:hover {
  scale: 1.1;
}

.card-img-link:focus .new-card-img {
  scale: 1.1;
}

.new-fav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 1;
  top: -1em;
  right: .5em;
  border: none;
  border-radius: 2em;
  background-color: var(--btn-bg);
  color: var(--btn-clr);
}

.new-fav-btn:hover,
.new-fav-btn:focus {
  background-color: var(--btn-bg-hov);
  color: var(--red);
}

.new-fav-icon {
  font-size: 1.15rem;
}

.new-fav-icon[data-favorite="true"] {
  color: var(--red);
  animation: favorite-fill 300ms forwards;
}

.new-fav-icon[data-favorite="false"] {
  animation: favorite-unfill 300ms forwards;
}

@keyframes favorite-unfill {
  0% { font-variation-settings: 'FILL' 1 }
  25% { font-variation-settings: 'FILL' 0.75 }
  50% { font-variation-settings: 'FILL' 0.5 }
  75% { font-variation-settings: 'FILL' 0.25 }
  100% { font-variation-settings: 'FILL' 0 }
}

@keyframes favorite-fill {
  0% { font-variation-settings: 'FILL' 0 }
  25% { font-variation-settings: 'FILL' 0.25 }
  50% { font-variation-settings: 'FILL' 0.5 }
  75% { font-variation-settings: 'FILL' 0.75 }
  100% { font-variation-settings: 'FILL' 1 }
}

.new-card-title {
  height: 68px;
  margin-top: 1em;
  margin-bottom: 1em;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: .9rem;
  color: var(--txt-clr2);
  text-decoration: none;
}

.new-card-title:hover,
.new-card-title:focus {
  color: var(--txt-hov2);
} 

.new-card-details-wrapper {
  max-width: 28em;
}

.sale-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2em;
  margin-bottom: 1em;
  font-size: clamp(1rem, 2vw, 1.15rem);
}

.new-card-sale-limit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(.3em, .5vw, .75em);
  width: 8.5rem;
  margin: 0;
  font-size: clamp(.75rem, 2vw, 1rem);
  text-wrap: nowrap;
}

.sale-txt {
  color: white;
  background-color: var(--red);
  padding: .15em;
}

.limit-txt {
  color: var(--red);
}

.new-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8.5rem;
  margin: 0;
}

.old-price {
  text-decoration: line-through;
  color: var(--red);
}

.new-price {
  color: var(--clr-title);
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 1.75rem);
}

.new-card-btn {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  isolation: isolate;
  padding: .6em clamp(.35em, 1vw, 1em);
  border: none;
  border-radius: .5em;
  background-color: var(--btn-bg);
  color: var(--btn-clr);
  font-size: clamp(.8rem, 1vw, 1rem);
  font-weight: 500;
  overflow: hidden;

  & span:nth-child(2) {
    margin-inline: auto;
  }
}

.new-card-btn:hover::after,
.new-card-btn:focus::after {
  scale: 1;
}

.new-card-btn::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  z-index: -1;
  left: -0.01em;
  scale: 0;
  background-color: var(--btn-bg-hov);
  transition: scale 300ms;
}

.new-cart-icon {
  font-size: clamp(.75rem, 1.35vw, 1.15rem);
}

.hero-wrapper {
  position: relative;
  margin-top: 9rem;
}

.hero-img {
  width: 100%;
  height: 100%;
  max-height: 35rem;
  object-fit: cover;
}

.title {
  max-width: 10em;
  position: absolute;
  top: clamp(1em, 7vw, 2em);
  left: clamp(.5em, 5vw, 1.5em);
  padding: .75em;
  color: hsl(0, 0%, 88%);
  font-size: clamp(1rem, 3.5vw, 3rem);
  backdrop-filter: brightness(50%);
}

/* ------------------------------------- */