.hamburger-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}

.hamburger-btn:hover .hamburger-line,
.hamburger-btn:focus .hamburger-line {
  background: var(--icon-hov);
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger-line {
  display: block;
  width: 17px;
  height: 2px;
  background-color: var(--clr-prim);
  transition: 300ms;
}

.hamburger-btn[data-closed-icon="true"] {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;

  & .hamburger {
    justify-content: center;
    align-items: center;
  }

  & .ham-line2 {
    opacity: 0;
  }

  & .ham-line1 {
    margin-left: 7px;
    transform: rotateZ(50deg);
    transform-origin: 0 0;
    width: 19px;
  }

  & .ham-line3 {
    margin-left: 7px;
    transform: rotateZ(-50deg);
    transform-origin: 0 3px;
    width: 19px;
  }
}

.modal {
  position: fixed;
  left: -100%;
  z-index: 2500;
  background-color: hsl(0 0% 0% / 0);
  transition: background-color 500ms;
}

.modal[data-visible="true"] {
  background-color: hsl(0 0% 0% / .5);
  inset: 0;
  top: 9.1rem;
}

.modal[data-visible="false"] {
  background-color: hsl(0 0% 0% / 0);
  left: -100%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  width: min(100%, 35em);
  position: fixed;
  top: 9.1rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: var(--menu-bg-prim);
  transition: 300ms;
}

.mobile-menu[data-visible="false"] {
  transform: translateX(-100%);
}

.mobile-menu[data-visible="true"] {
  transform: translateX(0%);
}

.products-categories-list {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 300ms;
  overflow: auto;
}

.product-category {
  cursor: pointer;
}

.product-category-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  color: var(--menu-link-clr);
  font-weight: 700;
  text-decoration: none;
}

.product-category-name:hover,
.product-category-name:focus {
  background-color: var(--menu-link-hov);
}

.product-category-name::after {
  content: "\1F892";
  font-size: 2.5rem;
}

.product-category:last-child {
  margin-bottom: 1em;
}

.product-subcategory-list {
  height: calc(100% - 55px - 100px);
}

.subcategory-view {
  position: absolute;
  inset: 0;
  bottom: 36px;
  background-color: var(--menu-bg-prim);
  transform: translateX(-100%);
  transition: 300ms;
}

.subcategory-view.open {
  transform: translateX(0%);
}

.back-title-flex {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-top: 2em;
  margin-left: 1em;
}

.back-menu-btn {
  height: 30px;
  background-color: var(--btn-bg);
  color: white;
  border: none;
}

.back-menu-btn:hover,
.back-menu-btn:focus {
  background-color: var(--btn-bg-hov);
}

.selected-category-title {
  color: var(--menu-subtitle-clr);
  font-size: 1.15rem;
}

.subcategory-item {
  cursor: pointer;
}

.subcategory-name {
  display: block;
  position: relative;
  padding: .5em 1em;
  color: var(--menu-link-clr);
  font-weight: 700;
  text-decoration: none;
}

.subcategory-name::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 7px;
  left: 16px;
  background-color: var(--menu-link-clr);
  transition: 500ms;
}

.subcategory-name:hover::after {
  width: 80%;
}

.sub-close-btn {
  position: absolute;
  z-index: 4000;
}