.product-wrapper {
  max-width: 1800px;
  margin-top: 9rem;
  margin-inline: auto;
  padding-inline: clamp(.75em, 2vw, 2em);

  & .add-cart-btn {
    margin-top: 2em;
  }

  & .new-cart-icon,
  & .prod-fav-icon {
    font-size: 1.25rem;
  }
}

.prod-title {
  font-size: clamp(1.15rem, 2vw, 2rem);
  text-align: center;
  color: var(--txt-clr2);
}

.prod-flex {
  margin-top: 2em;
}

.prod-img-wrapper {
  display: flex;
  justify-content: center;
}

.prod-img {
  width: 100%;
  max-width: 30em;
}

.prod-price-wrapper {
  max-width: 30em;
  margin-inline: auto;
}

.prod-price-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.prod-sale-price-flex {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.prod-old-price {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  margin: 0;
}

.prod-new-price {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  margin: 0;
}

.in-stock {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0;
  margin-top: .75em;
  color: rgb(5, 173, 5);
  font-weight: 700;
  text-transform: uppercase;
}

.in-stock-icon {
  padding: .15em .5em;
  background-color:rgb(5, 173, 5);
  color: white;
}

.prod-fav-btn {
  margin-top: 1em;
}

.prod-fav-icon[data-favorite="true"] {
  animation: favorite-fill 300ms forwards;
  color: var(--red);
  transition: color 300ms;
}

.prod-fav-icon[data-favorite="false"] {
  animation: favorite-unfill 300ms forwards;
}

@keyframes favorite-unfill {
  0% { font-variation-settings: 'FILL' 1 }
  25% { font-variation-settings: 'FILL' 0.75 }
  50% { font-variation-settings: 'FILL' 0.5 }
  75% { font-variation-settings: 'FILL' 0.25 }
  100% { font-variation-settings: 'FILL' 0 }
}

@keyframes favorite-fill {
  0% { font-variation-settings: 'FILL' 0 }
  25% { font-variation-settings: 'FILL' 0.25 }
  50% { font-variation-settings: 'FILL' 0.5 }
  75% { font-variation-settings: 'FILL' 0.75 }
  100% { font-variation-settings: 'FILL' 1 }
}

.estimated-delivery,
.delivery-fee {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  font-size: clamp(.9rem, 1vw, 1.15rem);
  color: var(--clr-title);
}

.estimated-delivery-txt,
.delivery-fee-txt {
  width: clamp(120px, 15vw, 170px);
  text-wrap: nowrap;
}

.delivery-date,
.delivery-fee-span {
  width: clamp(calc(150px - .5em), 15vw, 170px);
  font-weight: 750;
  text-wrap: nowrap;
}

.intersection-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: clamp(.5rem, 3vw, 5rem);
  /* row-gap: clamp(.5rem, 3vw, 5rem); */
  row-gap: .25em;
  max-width: 1800px;
  position: fixed;
  bottom: 0em;
  left: 0em;
  right: 0em;
  z-index: 1;
  /* padding: clamp(.65em, 3vw, 2em); */
  padding: .5em;
  background-color: var(--menu-bg-prim);
  transform: translateY(0%);
  transition: transform 300ms;
}

.intersection-wrapper.hide {
  transform: translateY(150%);
}

.intersect-img {
  width: 25%;
  aspect-ratio: 2 / 1;
}

.intersect-img-flex {
  display: none;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: clamp(2rem, 3vw, 5rem);
  width: 100%;
  max-width: 25em;

  & p {
    margin: 0;
    font-size: clamp(.9rem, 1.75vw, 1.15rem);
  }
}

.intersect-price {
  display: flex;
  gap: .5em;
}

.intersect-price-btn-flex {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  gap: clamp(.5rem, 2vw, 5rem);
  width: 100%;
  max-width: 25em;
  /* margin-top: 1em; */

  
  & .prod-sale-price-flex {
    /* flex-wrap: wrap; */
    gap: .35em;
  }

  & .sale-txt {
    font-size: clamp(.75rem, 2vw, 1.1rem);
    padding-block: 0;
  }

  & .old-price {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }

  & .prod-new-price {
    font-size: clamp(1.25rem, 3vw, 2rem);
  }

  & .copy-btn {
    width: 50%;
    min-width: fit-content;
    /* max-height: 35px; */
    /* max-width: clamp(165px, 15vw, 250px); */
    padding-inline: 1em;
    font-size: clamp(1rem, 2vw, 1.25rem);
  }
}

.copy-btn .new-cart-icon {
  font-size: 1rem;
}