.product-wrapper {
  max-width: 1800px;
  margin-top: 12rem;
  margin-inline: auto;
  padding-inline: clamp(.75em, 2vw, 2em);

  & .add-cart-btn {
    margin-top: 2em;
  }

  & .new-cart-icon,
  & .prod-fav-icon {
    font-size: 1.25rem;
  }
}

.prod-title {
  max-width: 25em;
  margin-bottom: 2em;
  margin-inline: auto;
  font-size: clamp(1.15rem, 2vw, 2rem);
  text-align: center;
  color: var(--txt-clr2);
}

.prod-flex {
  margin-top: 2em;
  /* max-height: 20em; */
}

.prod-img-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.prod-img {
  width: 100%;
  max-width: 25em;
  aspect-ratio: 9 / 12;
  border-radius: inherit;
  /* object-fit: cover; */
}

.prod-price-wrapper {
  max-width: 25em;
  margin-inline: auto;
}

.prod-price-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.prod-sale-price-flex {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.prod-old-price {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  margin: 0;
}

.prod-new-price {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  margin: 0;
}

.in-stock {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0;
  margin-top: .75em;
  color: rgb(5, 173, 5);
  font-weight: 700;
  text-transform: uppercase;
}

.in-stock-icon {
  padding: .15em .5em;
  background-color:rgb(5, 173, 5);
  color: white;
}

.prod-fav-btn {
  margin-top: 1em;
}

.prod-fav-icon[data-favorite="true"] {
  color: var(--red);
  animation: favorite-fill 300ms forwards;
}

.prod-fav-icon[data-favorite="false"] {
  animation: favorite-unfill 300ms forwards;
}

@keyframes favorite-unfill {
  0% { font-variation-settings: 'FILL' 1 }
  25% { font-variation-settings: 'FILL' 0.75 }
  50% { font-variation-settings: 'FILL' 0.5 }
  75% { font-variation-settings: 'FILL' 0.25 }
  100% { font-variation-settings: 'FILL' 0 }
}

@keyframes favorite-fill {
  0% { font-variation-settings: 'FILL' 0 }
  25% { font-variation-settings: 'FILL' 0.25 }
  50% { font-variation-settings: 'FILL' 0.5 }
  75% { font-variation-settings: 'FILL' 0.75 }
  100% { font-variation-settings: 'FILL' 1 }
}

.estimated-delivery,
.delivery-fee {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  font-size: clamp(.9rem, 1vw, 1.15rem);
  color: var(--clr-title);
}

.estimated-delivery-txt,
.delivery-fee-txt {
  width: clamp(120px, 15vw, 170px);
  text-wrap: nowrap;
}

.delivery-date,
.delivery-fee-span {
  width: clamp(calc(150px - .5em), 15vw, 170px);
  font-weight: 750;
  text-wrap: nowrap;
}

.intersection-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: clamp(.5rem, 3vw, 5rem);
  row-gap: .85em;
  max-width: 1800px;
  position: fixed;
  bottom: 0em;
  left: 0em;
  right: 0em;
  z-index: 1;
  padding: clamp(.75em, 2vw, 1.5em);
  background-color: var(--menu-bg-prim);
  transform: translateY(0%);
  transition: transform 300ms;
}

.intersection-wrapper.hide {
  transform: translateY(150%);
}

.intersect-img {
  width: 25%;
  height: 50px;
  object-fit: contain;
}

.intersect-img-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: clamp(2rem, 2vw, 5rem);
  width: 100%;
  max-width: 30em;

  & p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: var(--clr-deal);
    font-size: 1rem;
  }
}

.intersect-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .5rem;
}

.intersect-price-btn-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: clamp(.5rem, 2vw, 5rem);
  width: 100%;
  max-width: 30em;

  
  & .prod-sale-price-flex {
    column-gap: .5rem;
  }

  & .sale-txt {
    font-size: clamp(.95rem, 1vw, 1rem);
    padding-block: 0;
  }

  & .old-price {
    font-size: clamp(1.15rem, 1vw, 1.25rem);
  }

  & .prod-new-price {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
  }

  & .copy-btn {
    width: 50%;
    min-width: fit-content;
    padding-inline: 1em;
    font-size: 1rem;
  }
}

.copy-btn .new-cart-icon {
  font-size: clamp(1rem, 1.5vw, 1.15rem);
}