.product-wrapper {
  max-width: 1100px;
  margin-top: 12rem;
  margin-inline: auto;
  padding-inline: clamp(1em, 2vw, 2em);
}

.prod-title {
  max-width: 30em;
  margin-bottom: 2em;
  margin-inline: auto;
  font-size: clamp(1.15rem, 1.45vw, 1.45rem);
  text-align: center;
  color: var(--txt-clr2);
}

.prod-flex {
  margin-top: 2em;
}

.prod-img-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 25em;
  position: relative;
  aspect-ratio: 3 / 4;
  background-color: var(--bg-sec);
  border-radius: 10px;
}

.prod-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.prod-price-wrapper {
  max-width: 25em;
  margin-inline: auto;
  margin-top: 2em;
}

.prod-price-inner {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-sale-price-flex {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: clamp(.9rem, 1vw, 1rem);
}

.prod-old-price {
  font-size: clamp(1.15rem, 1.5vw, 1.5rem);
  margin: 0;
}

.prod-new-price {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  margin: 0;
}

.in-stock {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0;
  margin-top: .75em;
  color: hsl(120, 94%, 35%);
  font-weight: 700;
  text-transform: uppercase;
}

.in-stock-icon {
  padding: .15em .5em;
  background-color:hsl(120, 94%, 35%);
  color: hsl(0, 0%, 100%);
}

.prod-fav-btn {
  margin-top: 1em;
}

.estimated-delivery,
.delivery-fee {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  font-size: clamp(.9rem, 1vw, 1.15rem);
  color: var(--clr-title);
}

.estimated-delivery-txt,
.delivery-fee-txt {
  width: clamp(120px, 15vw, 170px);
  text-wrap: nowrap;
}

.delivery-date,
.delivery-fee-span {
  font-weight: 750;
  text-wrap: nowrap;
}

.intersection-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: clamp(.5rem, 3vw, 5rem);
  row-gap: .85em;
  max-width: 1800px;
  position: fixed;
  bottom: 0em;
  left: 0em;
  right: 0em;
  z-index: 2;
  padding: clamp(.75em, 2vw, 1.5em);
  background-color: var(--menu-bg-prim);
  transform: translateY(0%);
  transition: transform 300ms;
}

.intersection-wrapper.hide {
  transform: translateY(150%);
}

.intersect-img-flex .lazy-img-wrapper {
  max-width: 50px;
  max-height: 50px;
  min-width: 30px;
}

.intersect-img {
  width: 100%;
  height: 100%;
}

.intersect-img-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: clamp(2rem, 2vw, 5rem);
  width: 100%;
  max-width: 30em;

  & p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: var(--inp-text);
    font-size: 1rem;
  }
}

.intersect-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .5rem;
}

.intersect-price-btn-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: clamp(.5rem, 2vw, 5rem);
  width: 100%;
  max-width: 30em;
  
  & .prod-sale-price-flex {
    column-gap: .5rem;
  }

  & .sale-txt {
    font-size: clamp(.95rem, 1vw, 1rem);
    padding-block: 0;
  }

  & .old-price {
    font-size: clamp(1.15rem, 1vw, 1.25rem);
  }

  & .prod-new-price {
    font-size: clamp(1.25rem, 2vw, 1.55rem);
  }

  & .copy-btn {
    width: 50%;
    min-width: fit-content;
    padding-inline: 1em;
    font-size: 1rem;
  }
}

.button-wrapper {
  transform: translateX(0);
  overflow: hidden;
  border-radius: 10px;
}

.button-wrapper .loader {
  height: 25px;
  width: 25px;
}

.add-cart-btn {
  height: 35px;
}

.join-extra-sale {
  display: block;
  position: absolute;
  top: -5px;
  left: -20px;
  z-index: 1;
  background-color: var(--red);
  color: var(--clr-deal);
  border-radius: 10px;
  padding: .5em;
  transform: rotateZ(-25deg);
}
