.recently-viewed {
  margin-top: 7rem;
  padding: 0 1em 1em;
}

.recent-product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: center;
  row-gap: .5em;
  column-gap: 1em;
  margin-top: 3em;
}

.recent-product-card {
  position: relative;
}

.recent-img-wrapper {
  position: relative;
  aspect-ratio: 3 / 4;
  background-color: var(--bg-sec);
  overflow: hidden;
}

.recent-product-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-product-card a {
  text-decoration: none;
}