
/* ------------ MEDIA QUERIES ------------- */

@media (min-width: 45em) {
  .footer-links-panel-mobile {
    display: none;
  }

  .footer-links-panel-desktop {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 0em;
    
    & h2 {
      font-size: 1.5rem;
    }

    & a {
      font-size: clamp(1rem, 1vw, 1.25rem);
    }
  }

  .social-par {
    font-size: 1.5rem;
  }

  .intersect-img-flex {
    display: flex;
  }

  .intersection-wrapper {
    flex-wrap: nowrap;
  }

  .intersect-img {
    object-fit: cover;
  }
}




@media (min-width: 60em) {
  .header {
    max-width: 1800px;
  }

  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: block;
    width: 100%;
  }

  .navigation {
    flex-direction: column;
    align-items: normal;
    gap: 1em;
    position: relative;
  }

  .top-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3em;
  }

  .desktop-nav_list {
    display: flex;
    justify-content: center;
  }

  .desktop-nav_link {
    font-size: clamp(1.15rem, 1vw, 1.5rem);
    color: var(--clr-prim);
    transition: color 300ms;
  }

  .desktop-nav_link:hover,
  .desktop-nav_link:focus {
    color: var(--icon-hov);
  }

  .desktop-nav_item {
    padding-inline: 1em;
    cursor: pointer;
  }

  .desktop-nav_item:hover,
  .desktop-nav_item:focus-within {
    & .desktop-nav_link {
      color: var(--icon-hov);
    }
    
    & .desktop-nav_link-card {
      display: flex;
      justify-content: center;
      height: 25em;
      opacity: 1;
    }
  }

  .desktop-nav_link-card {
    display: none;
    justify-content: center;
    height: 0;
    /* position: absolute; */
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3000;
    /* top: 7.25em; */
    margin-inline: auto;
    padding: 1em;
    padding-block: 3em;
    background-color: var(--desktop-nav-bg);
    opacity: 0;
    transition: 300ms;
  }

  .link-card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
    max-width: 50em;

    & img {
      width: 30em;
    }
  }

  .sublink {
    display: block;
    padding: .5em .5em;
    text-decoration: none;
    color: var(--sublink);
  }

  .sublink:hover,
  .sublink:focus {
    color: var(--sublink-hov);
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    max-width: 35em;
  }

  .footer-links-panel-mobile {
    display: none;
  }

  .links-social-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3em;
    margin-bottom: 1em;
    /* margin-top: 0; */
  }

  .footer-links-panel-desktop {
    gap: clamp(3em, 5vw, 7em);
    margin-top: 2em;

    & h2 {
      margin-top: 0em;
    }
  }

  .header-btns {
    gap: 1em;
  }

  .header-btn-icon {
    font-size: 1.75rem;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  .modal {
    display: none;
  }

  body:has(.modal[data-visible="true"]) {
    overflow-y: auto;
  }

  .favorites-section {
    margin-top: 14rem;
  }

  .sales-outer-wrapper {
    /* display: none; */
    /* margin-top: 9.5rem; */
  }

  .title {
    margin-top: 17.5rem;
    margin-bottom: 6rem;
  }

  .login-wrapper {
    right: 1em;
    left: 65%;
    bottom: 2em;
  }

  .create-account-section {
    margin-top: 13rem;
  }

  .deals-list {
    overflow-x: hidden;
  }

  .join-par {
    --width: 1000px;
  }

  .product-wrapper {
    margin-top: 13rem;
    padding: 0;
  }

  .prod-flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1em;
  }

  .prod-price-wrapper {
    gap: 2em;
    margin-top: 0;
    margin-inline: 0;
  }

  .prod-price-inner {
    gap: 2em;
    margin: 0;
  }

  .prod-new-price,
  .prod-old-price {
    margin: 0;
  }

  .intersection-wrapper {
    display: flex;
    gap: 1em;
  }

  .intersect-img-flex,
  .intersect-price-btn-flex {
    width: 50%;
  }

  .social-wrapper {
    margin-top: 2em;
  }

}




@media (min-width: 70em) {
  .newsletter-title,
  .newsletter-par {
    text-align: left;
  }
}

@media (min-width: 1800px) {
  .header,
  .intersection-wrapper {
    --width: 1800px;
    left: calc(50% - var(--width) / 2);
  }

  .go-top-btn {
    right: 5vw;
  }
}

/* ----------------------------------------- */