
/* ------------ MEDIA QUERIES ------------- */

@media (min-width: 500px) {
  .favorites-menu_content-wrapper {
    width: 25em;
    position: absolute;
    right: -15px;
    top: 38px;
    border-radius: 10px;
  }

  .favorites-menu_content-wrapper:after {
    display: block;
  }
}

@media (min-width: 700px) {
  .login-wrapper {
    width: 35em;
    position: absolute;
    right: -15px;
    top: 38px;
    border-radius: 10px;
    bottom: initial;
  }

  .login-wrapper::after {
    display: block;
  }
}

@media (min-width: 45em) {
  .footer-links-panel-mobile {
    display: none;
  }

  .footer-links-panel-desktop {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 0em;
    
    & h2 {
      font-size: 1.5rem;
    }

    & a {
      font-size: clamp(1rem, 1vw, 1.25rem);
    }
  }

  .social-par {
    font-size: 1.5rem;
  }

  .intersect-img-flex {
    display: flex;
  }

  .intersection-wrapper {
    flex-wrap: nowrap;
  }
}




@media (min-width: 60em) {
  .header {
    max-width: 1800px;
  }

  .header[data-visible="false"] {
    top: -116px;
  }
  
  .mobile-nav-wrapper {
    justify-content: space-around;
  }

  .navigation {
    padding: 1em;
  }

  .top-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3em;
  }

  .fav-cart-count {
    left: 15px;
    font-size: .75rem;
    width: 18px;
  }

  .desktop-nav_list {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .desktop-nav_link {
    font-size: clamp(1.15rem, 1vw, 1.5rem);
    color: var(--clr-prim);
  }

  .desktop-nav_link:hover,
  .desktop-nav_link:focus {
    color: var(--icon-hov);
  }

  .desktop-nav_item {
    padding-inline: 1em;
    cursor: pointer;
  }

  .desktop-nav_item:hover,
  .desktop-nav_item:focus-within {
    & .desktop-nav_link {
      color: var(--icon-hov);
    }
  }

  .desktop-nav_link-card {
    display: flex;
    justify-content: center;
    height: 25em;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3000;
    margin-inline: auto;
    padding: 1em;
    padding-block: 3em;
    background-color: var(--desktop-nav-bg);
    opacity: 1;
    transition: 300ms;
  }

  .link-card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
    max-width: 50em;

    & img {
      width: 30em;
    }
  }

  .sublink {
    display: block;
    padding: .5em .5em;
    text-decoration: none;
    color: var(--sublink);
  }

  .sublink:hover,
  .sublink:focus {
    color: var(--sublink-hov);
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    max-width: 35em;
  }

  .footer-links-panel-mobile {
    display: none;
  }

  .links-social-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3em;
    margin-bottom: 1em;
  }

  .footer-links-panel-desktop {
    gap: clamp(3em, 5vw, 7em);
    margin-top: 2em;

    & h2 {
      margin-top: 0em;
    }
  }

  .header-btns {
    gap: 1em;
  }

  .header-btn-icon {
    font-size: 1.75rem;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  .modal {
    display: none;
  }

  body:has(.modal[data-visible="true"]) {
    overflow-y: auto;
  }

  .favorites-section {
    margin-top: 12rem;
  }

  /* .login-wrapper {
    top: 5em;
  } */

  .create-account-section {
    margin-top: 13rem;
  }

  .deals-list {
    overflow-x: hidden;
  }

  .join-par {
    --width: 1000px;
  }

  .product-wrapper {
    margin-top: 13.5rem;
    padding: 0;
  }

  .prod-flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1em;
  }

  .prod-price-wrapper {
    gap: 2em;
    margin-top: 0;
    margin-inline: 0;
  }

  .prod-price-inner {
    gap: 2em;
    margin: 0;
  }

  .prod-new-price,
  .prod-old-price {
    margin: 0;
  }

  .intersection-wrapper {
    display: flex;
    gap: 1em;
  }

  .intersect-img-flex,
  .intersect-price-btn-flex {
    width: 50%;
  }

  .social-wrapper {
    margin-top: 2em;
  }

  .category-page-main {
    margin-top: 12rem;
  }

  .img-description-flex {
    display: block;
  }

  .prod-category_description {
    margin-top: 1em;
  }

  .header-btn_name-icon {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .cart-wrapper {
    margin-top: 12rem;
  }

  .fav-hover_menu {
    top: 56px;
    right: 0;
  }

  .profile-section {
    margin-top: 12rem;
  }

  .account-hov-menu {
    top: 47px;
    right: -12px;
  }

  .favorites-menu_content-wrapper {
    right: -12px;
    top: 47px;
  }

  .login-wrapper {
    right: -12px;
    top: 47px;
  }

  .theme-list_wrapper {
    right: -3px;
    top: 47px;
  }

  .theme-list_wrapper:after {
    height: 20px;
    right: 9px;
    border: 10px solid transparent;
    border-bottom: 10px solid var(--menu-bg-prim);
  }

  .recently-viewed {
    padding: 0 3em 1em;
  }

  .clear-wrap {
    max-width: 70em;
  }
}




@media (min-width: 70em) {
  .newsletter-title,
  .newsletter-par {
    text-align: left;
  }
}

@media (min-width: 90em) {
  .img-description-flex {
    display: flex;
  }
}

@media (min-width: 1800px) {
  .header,
  .intersection-wrapper {
    --width: 1800px;
    left: calc(50% - var(--width) / 2);
  }

  .go-top-btn {
    right: 5vw;
  }

}

/* ----------------------------------------- */